@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPS-ItalicMT.woff2') format('woff2'),
        url('TimesNewRomanPS-ItalicMT.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Times New Roman';
    src: url('TimesNewRomanPSMT.woff2') format('woff2'),
        url('TimesNewRomanPSMT.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

